.social-links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-links a {
    display: inline-block;
    transition: 0.3s;
}

.social-links img {
    width: 30px;
    height: 30px;
}

.social-links a:hover {
    transform: scale(1.2);
}